:root {
  --bg-main: #efefef;
  --bg-red: #ffa8a899;
  --bg-reason: #FFD3A8;  /* #D3FFA8; */
  --bg-correct: #A8FFA8;
  --bg-selected: #A8A8FF;
  --fg-error: #f00;
}

html {
  background-color: var(--bg-main);
  font-family: Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: var(--bg-red);
  padding: 10px;
  border-radius: 3px;
}

.file-extras {
  display: flex;
  gap: 5px;
}

#fileError {
  color: var(--fg-error);
  margin-top: 5px;
}

#statusBar {
  /* border: 1px solid gray; */
  padding: 8px;
  margin-bottom: 10px;
  background-color: var(--bg-main);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#scoreArea {
  display: flex;
  gap: 5px;
}

.score {
  text-align: center;
  padding: 5px;
}

.score-title {
  font-size: small;
  font-weight: bold;
}

.score-correct {
}

.score-incorrect {
}

#workArea {
  /* border: 1px solid grey; */
  padding: 8px;
  background-color: var(--bg-main);
  border-radius: 3px;
}

.question {
  padding: 10px 5px;
}

.answers {
  display: flex;
  flex-direction: column;
}

.answer {
  position: relative;
  margin: 5px;
  padding: 5px;
  line-height: 20px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: var(--bg-main);
  text-align: left;
  cursor: pointer;
}

.answer:disabled {
  color: inherit;
}

.answer:not(:disabled):hover {
  bottom: 3px;
  box-shadow: 0 3px 2px #80808036;
}

.answer:not(:disabled):active {
  bottom: 0;
  box-shadow: 0 0 0;
}

.answer::before {
  margin-right: 5px;
  margin-left: 5px;
}

#answerA::before {
  content: 'A)';
}

#answerB::before {
  content: 'B)';
}

#answerC::before {
  content: 'C)';
}

#answerD::before {
  content: 'D)';
}

#reason {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  background-color: var(--bg-reason);
  display: none;
}

.nav {
  display: flex;
  margin: 5px;
  justify-content: space-between;
}

.copyright {
  text-align: center;
  margin-top: 5px;
  font-size: smaller;
  color: gray;
}

.copyright > a {
  color: inherit;
}
